/* Establece el tamaño de fuente en un 62.5% del tamaño base para facilitar los cálculos de em */
html {
    font-size: 62.5%;
}

/* Establece reglas de estilo para todos los elementos en la página */
* {
    box-sizing: border-box; /* El contenido se ajusta al modelo de caja */
    padding: 0; /* Se establece el relleno a 0 */
    margin: 0; /* Se establecen los márgenes a 0 */
}

/* Establece estilos para el cuerpo de la página */
body {
    font-size: 3rem; /* Tamaño de fuente de 3 rem (relativo a la fuente raíz) */
}

/* Establece estilos para los encabezados h1 */
h1 {
    margin-top: 2rem;
    text-align: center;
    padding: 2rem; /* Relleno de 2 rem en todas las direcciones */
}

/* Establece un estilo para el formulario */
form {
  font-size: 18px;
  max-width: 800px; /* Ancho máximo del formulario */
  margin: 20px auto; /* Centrar el formulario */
  padding: 20px; /* Espaciado interno del formulario */
  background-color: #f4f4f4; /* Color de fondo del formulario */
  border: 1px solid #ddd; /* Borde del formulario */
  border-radius: 8px; /* Radio de borde del formulario */
}

/* Establece un estilo para los elementos de formulario (input, textarea, etc.) */
form input,
form textarea {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Margen inferior */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Radio de borde */
}

/* Establece un estilo para el botón del formulario */
form button {
  font-size: 16px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  padding: 10px 15px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Radio de borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

/* Establece un estilo para el botón del formulario al pasar el ratón sobre él */
form #btn:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/* Estilos para la sección de reseñas */
.reviews {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

.reviews h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.reviews ul {
  list-style: none;
  padding: 0;
}

.reviews li {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #333;
}

.reviews .review-user {
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  color: #090303;
}

.reviews .review-text {
  text-align: justify;
  font-size: 18px;
}

/* Estilos para la sección de añadir reseña */
.add-review {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
}

.add-review h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

#reviewForm {
  display: flex;
  flex-direction: column;
}

#reviewForm label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

#reviewForm input, #reviewForm textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#reviewForm button {
  padding: 15px 30px;
  background-color: #1a0044;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

/* Estilos para la clase .review */
.review {
  overflow: hidden;
  word-wrap: break-word; /* Permite el salto de palabra si es necesario */
}

/* Estilos para el botón de "Ver Reseñas" */
#reseñas {
  margin-bottom: 20px;
  padding: 15px 30px;
  background-color: #1a0044;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#reseñas:hover {
  background-color: #3f00a5;
}

/* Estilos para la sección de botones */
#botones {
  text-align: center;
  margin-bottom: 2rem;
}

#botones button {
  padding: 2rem;
}

/* Estilos responsivos para pantallas más grandes (ancho mínimo de 768px) */
@media (min-width: 768px) {
  .add-review, .reviews {
      max-width: 800px;
      margin: 40px auto;
  }
}
