/* Establece el tamaño de fuente base al 62.5% del tamaño predeterminado (equivale a 10px) para facilitar el cálculo. */
html {
    font-size: 62.5%;
}

/* Estilo global para todos los elementos en la página. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
}

/* Estilo para el fondo y color de texto del cuerpo de la página. */
body {
    background-size: 100%;
}

/* Estilo para encabezados de nivel 1 (h1) */
h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
    font-size: 4rem;
}

/* Estilo para tablas en la página. */
table {
    width: 100%;
    padding: 6rem;
}

/* Estilo para las celdas de encabezado de tabla (th). */
th {
    font-size: 1.9rem;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

/* Estilo para las celdas de datos de tabla (td). */
td {
    text-align: justify;
    font-size: 1.9rem;
    border: 1px solid rgb(0, 0, 0);
}

/* Estilo para párrafos (p) en la página. */
p {
    padding: 1rem;
}

div {
    text-align: center;
}

/* Estilo para listas ordenadas con números romanos (clase Equipo). */
.Equipo {
    list-style: upper-roman;
    text-align: justify;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

#rostro {
    border-radius: 2rem;
}

/* Estilos específicos cuando el ancho de la pantalla es menor o igual a 872px. */
@media screen and (max-width: 872px) {
    /* Ajusta el relleno de la tabla y el tamaño de fuente de h1, th y td. */
    table {
        padding: 4rem;
    }
    h1 {
        font-size: 3rem;
    }
    th {
        font-size: 1.6rem;
    }
    td {
        font-size: 1.6rem;
    }

}

/* Estilos específicos cuando el ancho de la pantalla es menor o igual a 600px. */
@media screen and (max-width: 600px) {
    /* Ajusta el relleno de la tabla y el tamaño de fuente de h1, th y td. */
    table {
        padding: 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    th {
        font-size: 1.2rem;
    }
    td {
        font-size: 1.2rem;
    }
}
